:root {
    --white:#fff;
    --black:rgb(0, 0, 0);
    --red:rgba(255, 0, 0, 0.514);
    --green:rgba(47, 235, 22, 0.603);
    --blue:rgba(0, 119, 255, 0.856);

}

body{
    color: var(--white);
    background-color: var(--black);
    font-family:Arial, Helvetica, sans-serif;
}

ul {
    font-size: 18px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;  
}

a {
    color: var(--white);
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 10rem;
    border: 3px solid var(--red);
}

.centerImage {
    text-align: center;
    padding-top: 2%;
}

h1 {
    padding-top: 2%;
    color:var(--red);
}

h2 {
    padding-top: 1%;
    color:var(--green);
}

h3 {
    padding-top: 1%;
    color:var(--blue); 
}

footer img{
    width: 50px;
    height: 50px;
}

footer {
    margin-top: 3%;
    display: flex;
    justify-content: center;

}

footer a{
    margin: 20px;
    text-align: center;
}

footer p{
    margin-top: 2%;
}

.container {
    padding: 0px 50px;
}

nav a:hover{
    color: var(--blue);
}

h4{
    text-align: center;
}

.detail {
    margin-top: 10px;
    display:inline;
    font-style: bold;
    color: yellow;
}